@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;






:root {
  --Sora: 'Sora', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
 --PrimaryColor:#8750f7;
 --DarkBG:#0f0715;
 --LightBG:#ffff;
 --DarkText:#ffff;
 --LightText:#2a1454;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
    scrollbar-color: #8750f7 #2a1454;
}

.animate-stroke {
  font-size: 200px; /* Adjust the font size as per your design */
  font-family: var(--Sora);
  fill: transparent;
  stroke: #8750f7;
  stroke-width: 2px;
  letter-spacing: 2px;
  animation: breathing 3s ease-in-out infinite; /* Apply the breathing animation */
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.1); /* Scales up by 10% */
  }
}


.blur{
position: absolute;
width: 322px;
height: 308px;
right: -200px;
top: -300px;
z-index: -1;
background: linear-gradient(260deg, #8750f7 0%, rgba(115, 67, 210, 0) 100%);
/* opacity: 0.59; */
filter: blur(164.5px);
border-radius: 9999px;
}




.font-sora{
  font-family: var(--Sora);
  }
  
  
  
  .PrimaryBtnGredient{
    background: linear-gradient(to right, var(--PrimaryColor) 0%, var(--LightText) 51%, var(--PrimaryColor) 100%);
    background-size: 200%;
  }
  
  .Hero-Title{
    background: linear-gradient(to right, var(--PrimaryColor) 0%, var(--LightBG) 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: var(--LightText);
      background-color: var(--LightBG);
    }
  
    button {
      background-color: transparent;
    }
  }
  
  @media (prefers-color-scheme: Dark) {
    :root {
      
      background-color: var(--DarkBG);
      color:var(--DarkText) ;
    }
  
    button {
      background-color: transparent;
    }
  }
  
  
  
  